
# Temporary holds: Assignments
problem-sets/00[1-9]

# Temporary holds: Lecture
notes/0[3-9]*
notes/1*

# Notes cache
notes/*/slides_cache/*

# Non-review test files
final/exam-inclass*
midterm/exam-inclass*

# Problem sets: Assigned
# PS 0
problem-sets/000/data-raw*
problem-sets/000/clean-data*
problem-sets/000/ed.scss
problem-sets/000/000-questions.qmd
problem-sets/000/000-solutions*
# PS 1
problem-sets/001/data-raw*
# PS 2
problem-sets/002/data-raw*
# PS3

# Misc files
*.DS_Store
*.here
*.Rproj
